.profile {
  background-color: rgb(143, 226, 161);
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 2px solid blue;
  margin-bottom: 50px;
}

.description {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.avatar {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.name {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
}

.tag {
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
}

.location {
  padding-top: 15px;
  padding-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
  background-color: cornflowerblue;
}

.stats_item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.label {
  padding: 20px 5px 5px 5px;
}

.quantity {
  text-align: center;
  font-weight: 900;
  padding-bottom: 20px;
}
